.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.cell {
  border: 1px solid gray;
  height: 15px;
  width: 100%;
}

.btn {
  background-color: transparent;
  margin-bottom: 20px;
  margin-right: 20px;
}
